<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css')}}">
</head>
<body>
    <p class="num">09901146039</p>
    <p class="mail">stmichaelsnn290@gmail.com</p>
    <a href="{{ url_for('address')}}"><p class="add">1st stage Rajivnagar,</p></a>
    <p class="add-d">Mysuru</p>
    <a href="{{ url_for('fb')}}"><p class="fb">St. Michael's PU College</p></a>
</body>
</html>